<h1>Coin Combination</h1>
<form action="/change">
  <div class="form-group">
    <label for="change_amt">Please enter your amount of change:</label>
    <input id="change_amt" name="change_amt" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Enter</button>
</form>
